<% if (post.link){ %>
  <h3 class="<%= class_name %>" itemprop="name">
    <a href="<%- url_for(post.link) %>" itemprop="url"><%= post.title %></a>
  </h3>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h3 class="<%= class_name %>" itemprop="name">
      <a href="<%- url_for(post.path) %>"><%= post.title %></a>
    </h3>
  <% } else { %>
    <h3 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h3>
  <% } %>
<% } %>
